<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" asp-href-include="~/js/*.css">
    <base href="/" />
</head>
<body>
    <app></app>
    
    <script src="~/js/polyfills.bundle.js"></script>
    <script src="~/js/vendor.bundle.js"></script>
    <script src="~/js/main.bundle.js"></script>
    @*<script asp-src-include="~/js/*.js"></script>*@
    @*<link rel="stylesheet" type="text/css" asp-href-include="~/css/*.css">*@
</body>
</html>